html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.ant-table-small .ant-table-tbody > tr > td {
  font-size: 14px;
  line-height: 1.4;
}

.ant-table-small .ant-table-thead > tr > th {
  font-size: 14px;
  font-weight: 600;
}

.ant-pagination-small .ant-pagination-item,
.ant-pagination-small .ant-pagination-prev,
.ant-pagination-small .ant-pagination-next {
  font-size: 14px;
}

.ant-menu-item {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.ant-menu-item-icon {
  font-size: 16px !important;
}

.ant-btn-lg {
  font-size: 16px;
}

.ant-card .ant-card-body {
  padding: 24px !important;
}

h1 {
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-bottom: 16px !important;
}

@media (max-width: 768px) {
  .ant-table .ant-table-container {
    border: solid 0.5px #cccccc54 !important;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px;
  }

  .ant-table-small .ant-table-tbody > tr > td {
    font-size: 13px !important;
    padding: 8px 4px !important;
  }

  .ant-table-small .ant-table-thead > tr > th {
    font-size: 13px !important;
    padding: 8px 4px !important;
  }

  .ant-card .ant-card-body {
    padding: 8px 8px 8px 24px !important;
  }

  h1 {
    font-size: 20px !important;
    margin-bottom: unset !important;
  }
}

.ant-card-head-title {
  font-size: 18px;
  font-weight: 600;
}

.ant-layout {
  background: var(--ant-color-bg-layout);
}

.ant-layout-content {
  background: #fff;
}
